@model Note
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title"/>
        <span asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label  asp-for="Content"></label>
        <textarea class="form-control" asp-for="Content"></textarea>
        <span asp-validation-for="Content"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Deadline"></label>
        <input class="form-control" asp-for="Deadline"/>
        <span asp-validation-for="Deadline"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-light" type="submit">Zapisz</button>
    </div>
</form>