@model IEnumerable<Note>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Lista notatek</h1>
<ul>
@foreach (var note in @Model)
{
    <li><a asp-action="Details" asp-controller="Exam" asp-route-id="@note.Title">@note.Title</a></li>
}
</ul>